#header-image {
background-size: cover;
background-image: url("./js-code-1920x1280-op20.jpg");
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
}

.text-shadow-white {
  text-shadow: #FFF 0 0 20px;
}

.header-text-container {
  text-align: center;
}

.bg-purple {
  background-color: #563d7c;
}